window.__ZAKI_WEBSITE_ENV__ = Object.freeze({
  APP_BASE_URL: "${APP_BASE_URL}",
  SITE_URL: "${SITE_URL}",
  WEBSITE_API_BASE_URL: "${WEBSITE_API_BASE_URL}",
  ENVIRONMENT: "${ZAKI_WEBSITE_ENVIRONMENT}",
  VERSION: "5.0.0"
});
